body, h1, h2 {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

.blog {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.blog-img {
  min-height: 100dvh;
  flex: 2;
  background-image: url("../img/robot-magazine.png");
  background-size: cover;
  box-shadow: 0 0 2px black;
  transition: background-image 0.5s ease;
}

.blog-img:hover {
  background-image: url("../img/robot.png");
  transition: background-image 0.5s ease;
}

.blog-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: whitesmoke;
  box-shadow: 0 0 2px black;
  padding-left: 50px;
}

.blog-header > h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
  padding: 10px;
}

.blog-header > h2 {
  font-family: "Elms Sans", sans-serif;
  padding: 0 10px 10px 10px;
}

.blog-content {
  flex: 1;
  column-count: 3;
  padding: 25px;
  font-family: "Elms Sans", sans-serif;
}

.preserve-breaks {
    white-space: pre-line;
}
