@import url("./components/banner.css");
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/container.css");
@import url("./components/fonts.css");
@import url("./components/footer.css");
@import url("./components/nav.css");
@import url("./components/utils.css");

body {
  margin: 0;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
}
