.item {
  position: relative;
}

.item > img {
  display: block;
  width: 100%;
}

.item > div > p {
  margin: 20px;
}

.img-banner {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  color: whitesmoke;
  background-color: #CD6858;
}

.caption {
  display: flex;
  align-items: center;
  gap: 20px;
}

.caption > button {
  color: whitesmoke;
  background-color: #CD6858;
  border: none;
  padding: 10px;
  margin-right: 20px;
  margin-left: auto;
}
