* {
  border: 1px solid black;
  margin: 0;
}

.profile-card {

  /* Size */
  box-sizing: border-box;
  width: 400px;

  /* Content */
  padding: 20px 40px;
}

/* Avatar */

.avatar {
  padding: 30px 0;
}

.avatar > img {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;
}

/* Profile Info */

.profile-info {
  padding: 0 10px 10px 10px;
  text-align: center;
}
