* {
  border: 1px solid black;
  margin: 0;
}

.profile-card {

  /* Size */
  box-sizing: border-box;
  width: 400px;

  /* Content */
  padding: 20px 40px;
}

/* Avatar */

.avatar {
  padding: 30px 0;
}

.avatar > img {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;
}

/* Profile Info */

.profile-info {
  padding: 0 10px 10px 10px;
  text-align: center;
}

/* Stats Row */

.stats-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10px 10px 10px;
  text-align: center;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: space-around;
  padding: 0 30px 10px 30px;
}
