body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #404040;
}

h1, h2, p {
  margin: 0;
}

.beta-text,
.subheading {
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-shadow: 0 0 1px black;
}

h2 {
  font-size: 2.25rem; /* 2.25 * 16px = 36px */
  margin: 0.167em 0 0.167em 0; /* 36px * 0.167 = 6px*/
}

p {
  font-size: 1.125rem; /*16px * 1.125 = 18px*/
  line-height: 1.35; /* 18px * 1.35 = 24.3 */
}

.beta-text {
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #9480e4;
  min-height: 200px;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
}

/* Main content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.7rem 2rem 0 2rem;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}

/* =================
    Form
   ================= */


/* Media Queries */
@media (min-width: 576px) {
  body {
    display: flex;
  }

  .intro,
  .main-content {
    flex: 1;
  }
}
